<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.serviceModel>
    <services>
      <service name="OG.PD.Business.Services.PodcastService">
        <endpoint address="net.tcp://localhost:2112/PodcastService"
                  binding="netTcpBinding"
                  contract="OG.PD.Business.Contracts.IPodcastService" />
      </service>
      <service name="OG.PD.Business.Services.SearchService">
        <endpoint address="net.tcp://localhost:2112/SearchService" 
                  binding="netTcpBinding" 
                  contract="OG.PD.Business.Contracts.ISearchService" />
      </service>
      <service name="OG.PD.Business.Services.SubscriptionService">
        <endpoint address="net.tcp://localhost:2112/SubscriptionService" 
                  binding="netTcpBinding" 
                  contract="OG.PD.Business.Contracts.ISubscriptionService" />
      </service>
    </services>
    <bindings>
      <netTcpBinding>
        <!--TransactionFlow=true allow any transaction that might started before this service call started to flow in into this service call -->
        <binding transactionFlow="true" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647">
          <readerQuotas maxArrayLength="2147483647" maxStringContentLength="2147483647" />
          <!-- This add retry mechanisem -->
          <reliableSession enabled="true" />
        </binding>
      </netTcpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>